<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="sew_agv_gazebo" params="tf_prefix">


    <!--#######################################################################################################################################-->
    <!--set up the diff_drive plugin controller from gazebo, NOT ros2_control -> maybe change when ros2_control available -->
    <!--#######################################################################################################################################-->
        <gazebo>
            <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">

                <update_rate>30</update_rate>
                
                <!--set wheels-->
                <left_joint>sew_wheel_left_joint</left_joint>
                <right_joint>sew_wheel_right_joint</right_joint>
                <wheel_separation>0.525</wheel_separation>
                <wheel_diameter>0.2</wheel_diameter>

                <!-- joint limits/ overrides urdf definitions ! -->
                <max_wheel_torque>20</max_wheel_torque>
                <max_wheel_acceleration>1.0</max_wheel_acceleration>
                
                <!-- Output messages of the plugin gazebo -> ros2-->
                <odometry_frame>odom</odometry_frame>
                <robot_base_frame>sew_base_footprint</robot_base_frame>
                <publish_odom>true</publish_odom>
                <publish_odom_tf>true</publish_odom_tf>
                <publish_wheel_tf>true</publish_wheel_tf>

                <!--command topic ros2 -> gazebo-->
                <command_topic>cmd_vel_out</command_topic>      <!--whyever this has no effect on gazebo -> remap topics in launch file-->

            </plugin>    
        </gazebo>

        <!--later add ros2 control plugin : https://www.youtube.com/watch?v=4QKsDf1c4hc&list=PLunhqkrRNRhYAffV8JDiFOatQXuU-NnxT&index=12-->

    <!--#######################################################################################################################################-->
    <!--define gazebo tags for materials, because urdf materialc can not be used in gazebo -->
    <!--#######################################################################################################################################-->

        <gazebo reference="${tf_prefix}caster_wheel_link">
            <material> Gazebo/Black</material>
        </gazebo>

        <gazebo reference="${tf_prefix}right_wheel_link">
            <material> Gazebo/Black</material>
        </gazebo>

        <gazebo reference="${tf_prefix}left_wheel_link">
            <material> Gazebo/Black</material>
        </gazebo>

        <gazebo reference="${tf_prefix}body_link">
            <material> Gazebo/Grey</material>
        </gazebo>

        <gazebo reference="${tf_prefix}lidar_link">
            <material> Gazebo/Yellow</material>
        </gazebo>

    <!--#######################################################################################################################################-->
    <!--set friction of the caster wheel to nearly 0 (for simplicity reasons) -->
    <!--#######################################################################################################################################-->

        <gazebo reference="${tf_prefix}caster_wheel_link">
            <mu1 value="1000"/>
            <mu2 value="1000"/>
        </gazebo>

    <!--#######################################################################################################################################-->
    <!--include lidar sensor simulation on lidar link -->
    <!--#######################################################################################################################################-->
        <gazebo reference="${tf_prefix}lidar_link">
            <sensor type="ray" name="lidar_1">
                <pose> 0 0 0 0 0 0 </pose>      <!--define offset to lidar_link frame-->
                <visualize>true</visualize>
                <update_rate>10</update_rate>
                <ray>                               <!--define field of view-->
                    <scan>
                        <horizontal>
                            <samples>720</samples>
                            <min_angle>-2</min_angle>
                            <max_angle>2</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.3</min>
                        <max>20</max>
                    </range>
                </ray>
                <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">     <!--call gazebo plugin for lidar-->
                    <ros>
                        <argument>~/out:=scan</argument>        <!--define output topic-->
                    </ros>
                    <output_type>sensor_msgs/LaserScan</output_type>
                    <frame_name>sew_lidar_link</frame_name>
                </plugin>
            </sensor>
        </gazebo>

    </xacro:macro>
</robot>