[Unit]
Description=Wait for Pressed Reboot Button and Execute
After=network.target

[Service]
ExecStart=/usr/bin/python3 YOUR_PATH/reboot_on_button.py
WorkingDirectory=PATH_to_script
Restart=always
User=root

[Install]
WantedBy=multi-user.target
