[Unit]
Description=Start Wi-Fi Hotspot
After=network.target

[Service]
ExecStart=/YOUR_PATH/setup_hotspot.sh
RemainAfterExit=yes
User=root

[Install]
WantedBy=multi-user.target
