[Unit]
Description=Setup CAN interface
After=network.target

[Service]
ExecStart=/YOUR_PATH/setup_can.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target