[Unit]
Description=Allow Docker containers to access the X server
After=display-manager.service

[Service]
Type=oneshot
ExecStart=//home/agv/Igus_and_AGV/igus_rebel_ros2_docker/setup_xhost.sh
User=your-username

[Install]
WantedBy=default.target


---> TODO:
1) move this file to /etc/systemd/system/
2) replace PATH_to_script with the real path: on raspi: /home/agv/Igus_and_AGV/igus_rebel_ros2_docker/
2) enable service so that it runs on boot sudo systemctl enable setup_can.service
3) reboot