<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="igus_rebel_6dof" >
  
    <xacro:arg name="prefix" default="igus_" />
    <xacro:arg name="tf_prefix" default="sew_" />

    <group name="rebel_6dof">
        <chain base_link="$(arg prefix)base_link" tip_link="$(arg prefix)tool0"/>
    </group>

    <group_state name="zero" group="rebel_6dof">
        <joint name="$(arg prefix)joint1" value="0"/>
        <joint name="$(arg prefix)joint2" value="0"/>
        <joint name="$(arg prefix)joint3" value="0"/>
        <joint name="$(arg prefix)joint4" value="0"/>
        <joint name="$(arg prefix)joint5" value="0"/>
        <joint name="$(arg prefix)joint6" value="0"/>
    </group_state>

    <!--sew to igus connection is not a collision-->
    <disable_collisions link1="$(arg tf_prefix)base_link" link2="adapterplate_link" reason="Adjacent"/>
    <disable_collisions link1="adapterplate_link" link2="$(arg prefix)base_link" reason="Adjacent"/>
    <disable_collisions link1="adapterplate_link" link2="cabinet_link" reason="Adjacent"/>
    <disable_collisions link1="$(arg tf_prefix)base_link" link2="$(arg tf_prefix)lidar_link" reason="Adjacent"/>

    <!--camera and link8 is not a collision-->
    <disable_collisions link1="$(arg prefix)camera_link" link2="$(arg prefix)link_8" reason="Adjacent"/>
    

    <disable_collisions link1="$(arg prefix)base_link" link2="$(arg prefix)link_1" reason="Adjacent"/>
    <disable_collisions link1="$(arg prefix)gripper_base" link2="$(arg prefix)gripper_mount" reason="Adjacent"/>
    <disable_collisions link1="$(arg prefix)gripper_base" link2="$(arg prefix)link_2" reason="Never"/>
    <disable_collisions link1="$(arg prefix)gripper_base" link2="$(arg prefix)link_5" reason="Never"/>
    <disable_collisions link1="$(arg prefix)gripper_base" link2="$(arg prefix)link_6" reason="Never"/>
    <disable_collisions link1="$(arg prefix)gripper_base" link2="$(arg prefix)link_7" reason="Never"/>
    <disable_collisions link1="$(arg prefix)gripper_base" link2="$(arg prefix)link_8" reason="Default"/>
    <disable_collisions link1="$(arg prefix)gripper_mount" link2="$(arg prefix)link_2" reason="Never"/>
    <disable_collisions link1="$(arg prefix)gripper_mount" link2="$(arg prefix)link_5" reason="Never"/>
    <disable_collisions link1="$(arg prefix)gripper_mount" link2="$(arg prefix)link_6" reason="Never"/>
    <disable_collisions link1="$(arg prefix)gripper_mount" link2="$(arg prefix)link_7" reason="Never"/>
    <disable_collisions link1="$(arg prefix)gripper_mount" link2="$(arg prefix)link_8" reason="Adjacent"/>
    <disable_collisions link1="$(arg prefix)link_1" link2="$(arg prefix)link_2" reason="Adjacent"/>
    <disable_collisions link1="$(arg prefix)link_2" link2="$(arg prefix)link_5" reason="Adjacent"/>
    <disable_collisions link1="$(arg prefix)link_2" link2="$(arg prefix)link_6" reason="Never"/>
    <disable_collisions link1="$(arg prefix)link_2" link2="$(arg prefix)link_7" reason="Never"/>
    <disable_collisions link1="$(arg prefix)link_2" link2="$(arg prefix)link_8" reason="Never"/>
    <disable_collisions link1="$(arg prefix)link_5" link2="$(arg prefix)link_6" reason="Adjacent"/>
    <disable_collisions link1="$(arg prefix)link_5" link2="$(arg prefix)link_7" reason="Never"/>
    <disable_collisions link1="$(arg prefix)link_5" link2="$(arg prefix)link_8" reason="Never"/>
    <disable_collisions link1="$(arg prefix)link_6" link2="$(arg prefix)link_7" reason="Adjacent"/>
    <disable_collisions link1="$(arg prefix)link_6" link2="$(arg prefix)link_8" reason="Never"/>
    <disable_collisions link1="$(arg prefix)link_7" link2="$(arg prefix)link_8" reason="Adjacent"/>

</robot>
